rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }
    
    function isDirector() {
      return isSignedIn() &&
         exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
         get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Dirección';
    }
    
    function isAdmin() {
      return isSignedIn() &&
         exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
         get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['Dirección', 'Administración'];
    }

    match /users/{userId} {
      allow read, write: if true;
      
      match /cashAccounts/{cashAccountId} {
        allow read, write: if true;

        match /transactions/{transactionId} {
            allow read, write: if true;
        }
      }
    }

    match /projects/{projectId} {
      allow read, write: if true;

      match /sales/{saleId} {
        allow read, write: if true;
      }
      match /contracts/{contractId} {
        allow read, write: if true;
      }
    }

    match /projects/{projectId}/expenses/{expenseId} {
        allow read, write: if true;
    }

    match /suppliers/{supplierId} {
      allow read, write: if true;
    }
    
    match /employees/{employeeId} {
      allow read, write: if true;
    }
    
    match /technicalOfficeEmployees/{employeeId} {
      allow read, write: if isDirector();
      match /salaryHistory/{salaryHistoryId} {
        allow read, write: if isDirector();
      }
    }

    match /monthlySalaries/{salaryId} {
      allow read, write: if isDirector();
    }
    
    match /timeLogs/{logId} {
      allow read, write: if true;
    }

    match /contractors/{contractorId} {
      allow read, write: if true;

      match /personnel/{personnelId} {
        allow read, write: if true;
      }
    }
    
    match /assets/{assetId} {
      allow read, write: if true;
    }
    
    match /fundRequests/{fundRequestId} {
      allow read, write: if true;
    }

    match /payrollWeeks/{payrollWeekId} {
      allow read, write: if true;
    }

    match /taskRequests/{taskRequestId} {
      allow read, write: if true;
    }
    
    match /cashAdvances/{cashAdvanceId} {
      allow read, write: if true;
    }

    match /attendances/{attendanceId} {
      allow read, write: if true; 
    }

    match /treasuryAccounts/{treasuryAccountId} {
      allow read, write: if isDirector();
      match /transactions/{transactionId} {
        allow read, write: if isDirector();
      }
    }
    
    match /recurringExpenses/{expenseId} {
        allow read, write: if true;
    }

    match /moratorias/{moratoriaId} {
      allow read, write: if true;
    }

    match /stockItems/{itemId} {
      allow read, write: if true;
      
      match /movements/{movementId} {
        allow read, write: if true;
      }
    }
  }
}
