@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 206 14% 18%;
    --card: 0 0% 100%;
    --card-foreground: 206 14% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 206 14% 18%;
    --primary: 198 71% 51%;
    --primary-foreground: 210 100% 15%;
    --secondary: 207 74% 41%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 39 91% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 198 71% 51%;
    --radius: 0.5rem;
    --chart-1: 198 71% 51%;
    --chart-2: 207 74% 41%;
    --chart-3: 210 100% 28%;
    --chart-4: 39 91% 55%;
    --chart-5: 210 40% 60%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 206 14% 10%;
    --foreground: 210 40% 98%;
    --card: 206 14% 18%;
    --card-foreground: 210 40% 98%;
    --popover: 206 14% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 198 71% 51%;
    --primary-foreground: 210 100% 15%;
    --secondary: 207 74% 41%;
    --secondary-foreground: 210 40% 98%;
    --muted: 206 14% 24%;
    --muted-foreground: 210 40% 60%;
    --accent: 206 14% 24%;
    --accent-foreground: 210 40% 98%;
    --destructive: 39 91% 55%;
    --destructive-foreground: 206 14% 10%;
    --border: 206 14% 24%;
    --input: 206 14% 24%;
    --ring: 198 71% 51%;
    --chart-1: 198 71% 51%;
    --chart-2: 207 74% 41%;
    --chart-3: 210 100% 28%;
    --chart-4: 39 91% 55%;
    --chart-5: 210 40% 60%;
    --sidebar-background: 206 14% 14%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 198 71% 51%;
    --sidebar-primary-foreground: 210 100% 15%;
    --sidebar-accent: 206 14% 24%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 206 14% 24%;
    --sidebar-ring: 198 71% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
